# Xcode
xcuserdata/
*.xccheckout
*.xcuserstate
DerivedData/
# SwiftPM
.build/
# CocoaPods
Pods/
# Carthage
Carthage/Build/
# Fastlane
fastlane/report.xml
fastlane/test_output
# Logs
RepoAI/.log/
RepoAI/.context/
